body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  padding: 1rem;
  width: 500px;
  height: 70%;
}

.App h1 {
  text-align: center;
  font-weight: bold;
}

.collection-item {
  display: flex;
  align-items: center;
}

.active {
  color: white !important;
}
.pointer {
  cursor: pointer !important;
}

.edit {
  top: 50px !important;
}

.about .rotate {
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #26a69a;
  margin-top: 10%;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
